page-home {
    .item-md{
        .item-md{
            background-color: initial;
            padding-left: 0;
            & > .item-inner{
                padding-left: 10px;
            }
        }
    }
    .list.list-md{
        .list.list-md{
            background: #e6e6e6;
            border-radius: 0 0 10px 10px;
        }
    }
}
